<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Indo Plastik Jaya", dashboard_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if Current.user %>

          <li class="nav-item">
            <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
          </li>
   
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Business
          </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Business Snapshot", business_snapshot_path, class: "dropdown-item" %>
              <%= link_to "Sales Overview", business_sales_path, class: "dropdown-item" %>
              <%= link_to "Invoices", business_invoices_path, class: "dropdown-item" %>
              <%= link_to "Inventory", business_inventory_path, class: "dropdown-item" %>
              <%= link_to "Expenses", business_expenses_path, class: "dropdown-item" %>
              <%= link_to "Purchases", business_purchases_path, class: "dropdown-item" %>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Accounting
          </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Bank Accounts", users_path, class: "dropdown-item" %>
              <%= link_to "Assets", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Reports", dashboard_path, class: "dropdown-item" %>
              <li><hr class="dropdown-divider"></li>
              <%= link_to "Account transaction", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Balance Sheet", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Profit and Loss", dashboard_path, class: "dropdown-item" %>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Payroll
          </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Overview", users_path, class: "dropdown-item" %>
              <%= link_to "Employees", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Pay Employees", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Leave", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Timesheets", dashboard_path, class: "dropdown-item" %>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Contacts
          </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Customer", users_path, class: "dropdown-item" %>
              <%= link_to "Supplier", dashboard_path, class: "dropdown-item" %>
            </ul>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Create
          </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Invoice", users_path, class: "dropdown-item" %>
              <%= link_to "Bill", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Contact", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Purchase Order", dashboard_path, class: "dropdown-item" %>
            </ul>
          </li>




          <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link" %>
          </li>
        <% end %>
       </ul>
        
      






      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if Current.user %>
          
          <li class="nav-item">
            <%= link_to Current.user.email, edit_password_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-outline-secondary" %>
          </li>

        <% else %>



          <li class="nav-item">
            <%= link_to "Sign Up", sign_up_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", sign_in_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</nav>